output
target
dist
.venv
__pycache__
python_lib/python/**/*.so
_build
_autosummary
!docs/_autosummary
pauli_tracker/Cargo.lock
c_lib/builder/*/Cargo.lock

# personal development config and caches
.tmux-session
.task.mk
Session.vim
.ccls-cache
