output
target
Cargo.lock
dist
.venv
__pycache__
python_lib/python/**/*.so
_build
_autosummary
!docs/_autosummary

# personal development config and caches
.tmux-session
.task.mk
Session.vim
.ccls-cache
